<form action="/auth/login" method="post">
  <p>Username: <input type="text" name="user[username]" /></p>
  <p>Password: <input type="password" name="user[password]" /></p>
  <input type="submit" value="Log In" />
</form>